<form [formGroup]="teamFormUpdate" (ngSubmit)="onSubmit()" validate>

  <div class="bordered-form">
    <div class="form-group">
      <label for="team_name">Name <span class="important-field">*</span></label>
      <input type="text" class="form-control form-control-sm" id="team_name" formControlName="teamName"
             placeholder="First Name">
      <small *ngIf="teamFormUpdate.controls.teamName.invalid&&teamFormUpdate.controls.teamName.touched"
             class="form-text  important-field">
        Team Name
        is important
      </small>
    </div>
    <div class="form-group">
      <label for="location">Location <span class="important-field">*</span></label>
      <select type="text" class="form-control form-control-sm" id="location" formControlName="location"
      >
        <option *ngFor="let location of locations" value="{{location.uuid}}">
          {{location.name}}
        </option>
      </select>
      <small *ngIf="teamFormUpdate.controls.location.invalid&&teamFormUpdate.controls.location.touched"
             class="form-text  important-field">Location
        is important
      </small>
    </div>
    <div class="form-group">
      <label for="name">Supervisor</label>
      <input type="text" class="form-control form-control-sm" id="name" formControlName="supervisor"
             placeholder="Supervisor">
    </div>
  </div>
  <button type="submit" style="display: none" id="teamFormButton">Create</button>
</form>
