<div class="inner-menu">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item " routerLinkActive="active-menu">
          <a class="nav-link" routerLink="list">Forms Management Manager<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item "  routerLinkActive="active-menu">
          <a class="nav-link" routerLink="categories">Categories<span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </nav>
</div>


<div class="users-manager-bar">
  <div class="row">
    <div class="col-md-6">
      <p class="page-header">Form Management</p>
    </div>
    <div class="col-md-6">
      <div title="Create Location" class="btn btn-primary" routerLink="../forms/create_form" data-toggle="modal" data-target="#exampleModal"
           class="btn  round-button pull-right">
        <i class="fa fa-plus"></i>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
