
.tree-view{
  border: 1px solid #c6c6c6;
  padding: 8px 8px;
  font-size: 14px;
  min-height: 45px!important;
  border-radius: 0px;
  color: #555;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  white-space: normal;
  background-color: rgba(45,105,165,0.1);
  background-image: linear-gradient(rgba(45,105,165,0.1),rgba(45,105,165,0.2));
  width: 370px;
  height: 45px;
}

.tree-view1{
  border: 1px solid #c6c6c6;
  padding: 8px 8px;
  font-size: 14px;
  min-height: 45px!important;
  border-radius: 0px;
  color: #555;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  /*white-space: normal;*/
  /*background-color: rgba(45,105,165,0.1);*/
  /*background-image: linear-gradient(rgba(45,105,165,0.1),rgba(45,105,165,0.2));*/
  width: 370px;
  height: 45px;
  z-index: 1;
}
