<div class="container-fluid" style="padding: 0px; margin-top: 30px">
    <div class="col-sm-12" style="padding: 0px">
      <div class="lead" *ngIf="loading">
        <h3 class="lead text-center"></h3>
        Loading data
      </div>
      <div class="switcher">
        <div class="btn-group btn-group-sm" role="group">
          <button
            (click)="switchType('ou','dx')"
            type="button" class="btn cursor"
            [ngClass]="{ 'btn-outline-secondary': (current_settings != 'ou_dx'),'btn-secondary':(current_settings == 'chart' && charttype == 'ou_dx') }">
            Location Vs Data</button>
          <button
            (click)="switchType('pe','ou')"
            type="button" class="btn cursor"
            [ngClass]="{ 'btn-outline-secondary': (current_settings != 'pe_ou'),'btn-secondary':(current_settings == 'chart' && charttype == 'pe_ou') }">
            Period vs Location
          </button>
          <button
            (click)="switchType('pe','dx')"
            type="button" class="btn cursor"
            [ngClass]="{ 'btn-outline-secondary': (current_settings != 'pe_dx'),'btn-secondary':(current_settings == 'chart' && charttype == 'pe_dx') }">
            Period vs data</button>
          <button
            (click)="switchType('ou','pe')"
            type="button" class="btn cursor"
            [ngClass]="{ 'btn-outline-secondary': (current_settings != 'ou_pe'),'btn-secondary':(current_settings == 'chart' && charttype == 'ou_pe') }">
            Location vs Period</button>
          <button
            (click)="switchType('dx','pe')"
            type="button" class="btn cursor"
            [ngClass]="{ 'btn-outline-secondary': (current_settings != 'dx_pe'),'btn-secondary':(current_settings == 'chart' && charttype == 'dx_pe') }">
            Data vs Period</button>
          <button
            (click)="switchType('dx','ou')"
            type="button" class="btn cursor"
            [ngClass]="{ 'btn-outline-secondary': (current_settings != 'dx_ou'),'btn-secondary':(current_settings == 'chart' && charttype == 'dx_ou') }">
            Data vs Location</button>
          <button
            *ngIf="visualizerType == 'table'"
            (click)="switchType(current_settings.split('_')[0], current_settings.split('_')[1], hide_other)"
            type="button" class="btn cursor"
            style="margin-left: 5px"
            [ngClass]="{ 'btn-outline-secondary': !hide_other ,'btn-secondary': hide_other }">
            Show {{third}}</button>
          <button
            *ngIf="visualizerType == 'chart'"
            (click)="switchTypeLabel(current_settings.split('_')[0], current_settings.split('_')[1])"
            type="button" class="btn"
            style="margin-left: 5px"
            [ngClass]="{ 'btn-outline-secondary': !labels ,'btn-secondary': labels }">
            Chart Labels</button>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2" style="margin-top: 40px">

          <div class="text-muted buttons" style="margin-right: 5px">
            <button class="btn btn-sm cursor btn-block"
                    [ngClass]="{ 'btn-outline-secondary': (visualizerType != 'table'),'btn-secondary':(visualizerType == 'table') }"
                    (click)="updateType('table', indicator)">
              <i class="fa fa-table"></i> Table
            </button>
            <button class="btn btn-sm cursor btn-block"
                    [ngClass]="{ 'btn-outline-secondary': (charttype != 'column'),'btn-secondary':(visualizerType == 'chart' && charttype == 'column') }"
                    (click)="updateChartType('column', indicator)">
              <i class="fa fa-bar-chart-o"></i> Column
            </button>
            <button class="btn btn-sm cursor btn-block"
                    [ngClass]="{ 'btn-outline-secondary': (charttype != 'bar'),'btn-secondary':(visualizerType == 'chart' && charttype == 'bar') }"
                    (click)="updateChartType('bar', indicator)">
              <i class="fa fa-bar-chart"></i> Bar
            </button>
            <button class="btn btn-sm cursor btn-block"
                    [ngClass]="{ 'btn-outline-secondary': (charttype != 'line'),'btn-secondary':(visualizerType == 'chart' && charttype == 'line') }"
                    (click)="updateChartType('line', indicator)">
              <i class="fa fa-line-chart"></i> line
            </button>
            <button class="btn btn-sm cursor btn-block"
                    [ngClass]="{ 'btn-outline-secondary': (charttype != 'pie'),'btn-secondary':(visualizerType == 'chart' && charttype == 'pie') }"
                    (click)="updateChartType('pie', indicator)">
              <i class="fa fa-pie-chart"></i> Pie
            </button>
            <button [@hiddenItem] = "!show_confirmation?'notHidden':'hidden'" class="btn btn-sm cursor btn-block"
                    [ngClass]="{ 'btn-outline-secondary': true }"
                    (click)="show_confirmation = true">
              <i class="fa fa-save"></i> Save
            </button>
            <div class="container-fluid" style="padding: 0px; font-size: 11px" [@hiddenItem] = "show_confirmation?'notHidden':'hidden'">
              <div style="font-size: 11px">Confirm</div>
              <button class="btn btn-outline-warning btn-block" (click)="show_confirmation = false">Cancel</button>
              <button class="btn btn-outline-secondary btn-block" (click)="saveToDashboard()">Submit</button>
            </div>
            <!--<a class="btn btn-outline-secondary btn-sm cursor" (click)="getCSV()" >-->
            <!--<i class="fa fa-file-excel-o"></i> Excel-->
            <!--</a>-->
          </div>
        </div>
        <div class="col-sm-10">
          <h6 class="text-center text-muted">{{ getOrgUnitName() }} - {{ getPeriodName() }}</h6>
          <div [ngClass]="{ 'hiden':!(!loading && visualizerType == 'chart' && !error_loaded && chartObject != null) }"
               #chartTarget
               id="chart"
               class="chart-block"
               [ngStyle]="{'width': '1000px', height: '400px'}">
            <p>chart target</p>
          </div>
          <div *ngIf="!loading && visualizerType == 'table' && !error_loaded && tableObject != null">
            <app-table-template [tableObject]="tableObject"></app-table-template>
          </div>

          <!--error handling-->
          <div class="lead text-warning" *ngIf="error_loaded">
            <i class="fa fa-warning"></i> Sorry, something went wrong while fetching data! make sure you have internet
            connection and try to reload the page
          </div>
        </div>
      </div>
    </div>

</div>
