<div class="col-md-12" *ngIf="loading$ | async">
  <div class="col-sm-12" style="padding: 0px">
    <app-loader [message]="'Loading please wait...'"></app-loader>
  </div>
</div>

<div>

  <table class="table table-bordered  table-condensed" *ngIf="!(loading$ | async)">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let form of (forms$ | async); let i = index">
      <td>{{ i+1 }}</td>
      <td> {{ form.name }}</td>
      <td>
        <div class="pull-right">
          <a class="btn btn-warning btn-sm" routerLink="../{{form.id}}/update"   title="Edit">
            <i class="fa fa-pencil"></i>
          </a>
          <a class="btn btn-danger btn-sm"
             title="Delete">
            <i class="fa fa-trash"></i>
          </a>


        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
