<div class="container-fluid" style="margin-top: 15px">
  <!--Loading message-->
  <div class="row" *ngIf="loading$ | async">
    <div class="col-sm-12" style="padding: 0px">
      <app-loader [message]="'Loading please wait...'"></app-loader>
    </div>
  </div>
  <!--Error message in case something doesnt load-->
  <div class="row" *ngIf="!(loading$ | async) && !(loaded$ | async)">
    <div class="col-sm-12 text-center text-danger">
      Loading Failed
    </div>
  </div>
  <!--data selections-->
  <div *ngIf="!(loading$ | async)">
    <app-form-selection
      [forms]="forms$ | async"
      [periodType]="periodType$ | async"
      [period]="period$ | async"
      [orgunit]="orgunit$ | async"
      [selectedFormID]="selectedFormId$ | async"
      [selectedForm]="selectedForm$ | async"
    >
    ></app-form-selection>
    <!--data entry-->
    <div class="row" *ngIf="form_ready$ | async">
      <app-entry-form
        [form]="selectedForm$ | async"
        [dataElements]="dataElements$ | async"
        [categories]="categories$ | async"
        [form_data]="form_data$ | async"
        [data_loaded]="data_loaded$ | async"
        [data_loading]="data_loading | async"
      ></app-entry-form>
    </div>
    <!--submissions-->
    <div class="row">
      Data Submission area
    </div>
  </div>
</div>
