.inner-menu{
  margin-top: 10px;
}

.inner-menu{
  font-size: 13px!important;
}

.active-menu{
  border-bottom: 1px solid rgba(0,0,0,0.2);
  background-color: rgba(45,105,165,0.1);
  cursor: pointer;
  font-weight: bolder;
}
.navbar{
  padding:0em 0em!important;
}
