<div class="user-manager">
  <div class="users-manager-bar">
    <div class="row">
      <div class="col-md-6">
        <p class="page-header">Team Member Manager</p>
      </div>
      <div class="col-md-6">
        <div title="Create Team Member" class="btn  round-button pull-right">
          <i class="fa fa-plus"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="users-list">
    <table class="table table-bordered  table-condensed">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Identifier</th>
        <th scope="col">Role</th>
        <th scope="col">Team</th>
        <th scope="col">Locations</th>
        <th scope="col">Sub Teams</th>
        <th scope="col">Is Data Provider</th>
        <th scope="col">Voiced</th>
        <th scope="col">Patients</th>
        <th scope="col">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let teamMember of teamMembers; let teamCounter = index">
        <th scope="row">{{teamCounter+1}}</th>
        <td>{{teamMember.identifier}}</td>
        <td>{{teamMember.role}}</td>
        <td>{{teamMember.team}}</td>
        <td>{{teamMember.locations}}</td>
        <td>{{teamMember.sub_teams}}</td>
        <td>{{teamMember.is_data_provider}}</td>
        <td>{{teamMember.voiced}}</td>
        <td>{{teamMember.patients}}</td>
        <td></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
