<div class="container-fluid" style="margin-top: 10px">

  <h5><i class="fa fa-edit"></i> Update Your Profile</h5>
  <div class="row">
    <div class="col-sm-7">
      <form style="font-size: 11px">
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control form-control-sm" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">First Name</label>
          <input type="email" class="form-control form-control-sm" id="exampleInputEmail11" aria-describedby="emailHelp" placeholder="First Name">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Last Name</label>
          <input type="email" class="form-control form-control-sm" id="exampleInputEmail12" aria-describedby="emailHelp" placeholder="Last Name">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Old Password</label>
          <input type="password" class="form-control form-control-sm" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">New Password</label>
          <input type="password" class="form-control form-control-sm" id="exampleInputPassword11" placeholder="New Password">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Re Password</label>
          <input type="password" class="form-control form-control-sm" id="exampleInputPassword12" placeholder="Re Password">
        </div>
        <button type="submit" class="btn btn-outline-primary btn-sm"> <i class="fa fa-save"></i> Update</button>
      </form>
    </div>
  </div>
</div>

