@import '~angular-tree-component/dist/angular-tree-component.css';
.cursor{
  cursor: pointer;
}


.important-field{
  color:red;
  font-weight: bolder;
}


.custom-btn-primary{
  background-color: rgba(45,105,165,0.1)!important;
}

.btn{
  cursor: pointer!important;
}

.bordered-form{
  border:1px solid #C1D1E3;
  padding:10px;
  border-radius: 4px!important;
}
