@import '~angular-tree-component/dist/angular-tree-component.css';
.cursor{
  cursor: pointer;
}


.important-field{
  color:red;
  font-weight: bolder;
}


.custom-btn-primary{
  background-color: rgba(45,105,165,0.1)!important;
}

.btn{
  cursor: pointer!important;
}
