@import '~angular-tree-component/dist/angular-tree-component.css';
.cursor{
  cursor: pointer;
}


.important-field{
  color:red;
  font-weight: bolder;
}


@media print {
  .no-print *{
    display: none;
  }
  .no-print{
    display: none;
  }

  .orgUnitName{
    min-width: 130px;
    height: 35px;
    max-height: 35px;
    font-size: 9px;
  }
  .table-bordered td{
    /*border-top: 0.1em;*/
  }
  .legendItem{
    width: 200px;
    float: left;
  }

}


.custom-btn-primary{
  background-color: rgba(45,105,165,0.1)!important;
}

.btn{
  cursor: pointer!important;
}

.bordered-form{
  border:1px solid #C1D1E3;
  padding:10px;
  border-radius: 4px!important;
}

.page-item{
  cursor: pointer!important;
}

.informational-field{
  color: #2D69A5;font-weight: bolder;
}
