.dropdown:hover>.dropdown-menu {
  display: block;
}
.dropdown-menu {
  margin: -0.125rem 0 0;
}

.menu {
 border-right: 1px solid rgba(0,0,0,0.2);
}

.menu .item {
 border-bottom: 1px solid rgba(0,0,0,0.2);
  background-color: rgba(45,105,165,0.1);
  padding-top: 20px;
  padding-bottom: 20px;
  cursor: pointer;
}
.menu .active-item{
  background-color: rgba(45,105,165,0.3)!important;
}
.menu .item:hover {
 background-color: rgba(45,105,165,0.3);
  /*background: url(../../assets/img/rsz_clint-adair-68588.jpg) no-repeat center center fixed;*/
  /*-webkit-background-size: cover;*/
  /*-moz-background-size: cover;*/
  /*-o-background-size: cover;*/
  /*background-size: cover;*/
}



.topbanner {
  background-color: rgba(45,105,165,0.3);
  /*background: url(../../assets/img/rsz_clint-adair-68588.jpg) no-repeat center center fixed;*/
  /*-webkit-background-size: cover;*/
  /*-moz-background-size: cover;*/
  /*-o-background-size: cover;*/
  /*background-size: cover;*/
}

.menu h3 {
  text-align: center;
  font-weight: 200;
  font-size: 13px;
}

.menu i {
  font-size: 20px;
}
.btn-light {
  background-color: rgba(0,0,0,0.1);
  border: 1px solid rgba(0,0,0,0.1);
}
